button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
}

.filterButtons {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
  margin: 20px 40px;
}

.filterButtons p {
  font-size: 14px;
}

.filterButtons button {
  padding: 8px 12px;
  border-radius: 10px;
}

.active {
  background-color: #e1e4ea;
  color: #636363;
}
